.search-bar {
  margin-top: 1rem;
  text-align: center;
}

.search-bar-input {
  border-radius: 5px;
  margin-bottom: 3rem;
  margin-left: 1rem;
  width: 15%;
}

.cart-img {
  height: 20px;
  width: 20px;
}
